<h1>Users</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.thumbnail %></td>
    <td><%= user.name %></td>
    <td><%= mail_to user.email %></td>
  </tr>
<% end %>

</table>


<%= link_to "New User", new_user_path %>
